# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [11]:
import pandas as pd

## imports for Python, Pandas

In [12]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [13]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [22]:
# use normalization to create tables from nested element
#json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [23]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [31]:
# load json as string
#json.load((open('world_bank_projects_less.json')))

In [25]:
# load as Pandas dataframe
sample_json_df = pd.read_json('world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [27]:
#json.load((open('world_bank_projects.json')))

In [16]:
df=pd.read_json('world_bank_projects.json')

In [30]:
# exploring the data 
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [18]:
# confirming the type is a dataframe
type(df)

pandas.core.frame.DataFrame

In [19]:
df.shape

(500, 50)

In [20]:
# extracting columns of interest in this case its the country name and the projects 
df1=df.loc[:,["countryname","project_name"]]

In [21]:
# confirming the contents of my new dataframe 
df1.head()

,countryname,project_name
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...
3,Republic of Yemen,Gov't and Civil Society Organization Partnership
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...

In [26]:
# 10 countries with the most projects
df1.groupby("countryname").size().sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [23]:
# extracting columns of interest in this case its the country name and the major proejct theme 
df2=df.loc[:,["countryname","mjtheme_namecode"]]

In [32]:
df_json = json.load((open('world_bank_projects.json')))

In [34]:
theme_df = json_normalize(df_json,"mjtheme_namecode")
theme_df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [35]:
theme_df["name"].value_counts()[:10]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [131]:
#confirming the contents of my new dataframe 
df2.head()

,countryname,mjtheme_namecode
0,Federal Democratic Republic of Ethiopia,"[{'code': '8', 'name': 'Human development'}, {..."
1,Republic of Tunisia,"[{'code': '1', 'name': 'Economic management'},..."
2,Tuvalu,"[{'code': '5', 'name': 'Trade and integration'..."
3,Republic of Yemen,"[{'code': '7', 'name': 'Social dev/gender/incl..."
4,Kingdom of Lesotho,"[{'code': '5', 'name': 'Trade and integration'..."

In [93]:
# exploring sub data within the mjtheme_namecode column
df2.mjtheme_namecode[60]

[{'code': '2', 'name': 'Public sector governance'}, {'code': '10', 'name': ''}]

In [95]:
# extracting data of interest which is project type and appending it to a new list 
mjt = []
for x in range(500):
    mjt.append(df2.mjtheme_namecode[x][0]["name"])

In [96]:
# confirm that all rows where analyzed
len(mjt)

500

In [132]:
# adding data of interest to the data frame
df2["major_project_theme"]= mjt

In [133]:
#10 major project themes
df2.groupby("major_project_theme").size().sort_values().tail(10)

major_project_theme
Economic management                             11
Urban development                               23
Trade and integration                           25
Social dev/gender/inclusion                     43
Financial and private sector development        53
Rural development                               56
Social protection and risk management           57
Public sector governance                        64
Human development                               72
Environment and natural resources management    85
dtype: int64

In [200]:
pcan ={}
#pcan == proejct country code and name dict
for z in range(500):
    pcan[df2.mjtheme_namecode[z][0]["code"]]=df2.mjtheme_namecode[z][0]["name"]

In [201]:
#exploring pcan dict content 
pcan

{'8': 'Human development',
 '1': 'Economic management',
 '5': 'Trade and integration',
 '7': 'Social dev/gender/inclusion',
 '6': 'Social protection and risk management',
 '2': 'Public sector governance',
 '11': 'Environment and natural resources management',
 '10': 'Rural development',
 '4': 'Financial and private sector development',
 '9': 'Urban development',
 '3': 'Rule of law'}

In [202]:
#checking for empty data and adding project theme based on the pcan dict 
for y in range(500):
    if df2.mjtheme_namecode[y][0]["name"] == '':
        df.mjtheme_namecode[y][0]["name"] == pcan[df.mjtheme_namecode[y][0]["code"]]

In [40]:
pcan2 = theme_df[theme_df["name"]!= ""].drop_duplicates()

In [45]:
pcan2[pcan2["code"]=="3"]["name"].values[0]

'Rule of law'

In [50]:
theme_df["name_clean"] = theme_df["code"].apply(lambda row:pcan2[pcan2["code"]== row]["name"].values[0])

In [51]:
theme_df.head(20)

,code,name,name_clean
0,8,Human development,Human development
1,11,,Environment and natural resources management
2,1,Economic management,Economic management
3,6,Social protection and risk management,Social protection and risk management
4,5,Trade and integration,Trade and integration
5,2,Public sector governance,Public sector governance
6,11,Environment and natural resources management,Environment and natural resources management
7,6,Social protection and risk management,Social protection and risk management
8,7,Social dev/gender/inclusion,Social dev/gender/inclusion
9,7,Social dev/gender/inclusion,Social dev/gender/inclusion
10,5,Trade and integration,Trade and integration
11,4,Financial and private sector development,Financial and private sector development
12,6,Social protection and risk management,Social protection and risk management
13,6,,Social protection and risk management
14,2,Public sector governance,Public sector governance
15,4,Financial and private sector development,Financial and private sector development
16,11,Environment and natural resources management,Environment and natural resources management
17,8,,Human development
18,10,Rural development,Rural development
19,7,,Social dev/gender/inclusion

In [52]:
theme_df.name_clean.value_counts()[:10]

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name_clean, dtype: int64

In [203]:
#mjt2 = []
#for p in range(500):
#    mjt2.append(df.mjtheme_namecode[p][0]["name"])

In [1]:
#mjt2